
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-reply-1:before { content: '\e801'; } /* '' */
.icon-wrench:before { content: '\e802'; } /* '' */
.icon-info-1:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-info-2:before { content: '\e805'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-trash:before { content: '\e83d'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
